#colorMenu{
    background-color: #ffe900;
}


#contenedor{
    margin-top: 20px;
    background: url(../images/business-classic-clean-1030823.jpg);
    height: 200px;
}

#carro{
    margin-top: 40px;
 
}

#titulos{
    margin-top: 50px;
    margin-left: 70px;
}

#contenedor2{
    margin-top: 20px;
    background-color: #d9dadb;
    height: 750px;
   
}

#carouselExampleIndicators{
    margin-top: 10px;
  
}

.color1{
    background-color: yellow
}

.cat{
    margin-left: 150px;
}

body{
    background: url(../images/fondo.jpg);
    font-family: eje;
}

.card{
    margin-bottom: 20px;
}

@font-face{
    font-family: eje;
    src: url(../fuente/Market\ Fresh.ttf);
}


