.formu{
    border-radius: 10px;
    border: 1px solid #fff; 
    padding: 30px 40px;
    background: url(../images/fondazo.jpg);
    margin-top: 10vh;
    -webkit-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);
box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);
}

body{
    background: url(../images/fondo2.jpg);
    text-align: center;
    font-weight: 1000;
    font-family: fontasa;
}

h1{
    margin-top: 30px;

}

#colorMenu{
    background-color: #ffe900;
}

.cabeza{
    margin-left: 60vh;
}

h1{
    font-weight: 900;
    color: white;
}

h5{
    font-weight: 900;
    color: white;
}

@font-face{
    font-family: fontasa;
    src: url(../fuente/Market\ Fresh.ttf);
}